body {
    max-width: 1400px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the content horizontally */
    padding: 50px 20px; /* Add padding to the sides if needed */
}

/* Card Items */
.card-body a.card-title,
.card-body .listing-price {
    text-decoration: none !important;
}

.card {
    transition: box-shadow 0.3s ease-in-out; /* Add transition effect */
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.card-img-top {
    padding-top: 10px; /* Adjust the value as needed */
}

.card-body {
    color: #707070 !important;

}



/* NavBar */
.title {
    color: rgb(16, 16, 16);
    font-family: "Lora", serif;
    font-weight: 400;
}

.nav-link {
    color: #707070 !important;
    font-size: 15px !important;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav-link:hover {
    color: #000 !important; 
    font-weight: bold;
}

.nav-username strong {
    font-weight: bold;
}

.nav-item:nth-last-child(2) .nav-link {
    font-weight: normal !important;
    color: #707070 !important;
}



/* Nav Dropdown */
.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-title {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form-control {
    width: 500px;
}

.dropdown-item {
    color: #707070 !important;
    font-size: 15px !important;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



/* Listing */
.listing-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.info-container {
    flex: 1.3;
}

.image-detail {
    max-width: 100%;
    height: auto;
}

.info-container {
    padding-left: 20px; /* Adjust as needed */
}


.image-container {
    /* Ensure the container maintains its size */
    width: 300px; /* Adjust the width as needed */
    height: 700px; /* Adjust the height as needed */
    padding: 20px;
    /* Add any additional styles as needed */
}

.image-detail {
    /* Ensure the image maintains its size */
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
    /* Add any additional styles as needed */
}





/* Listing Info */
.listing-title {
    font-family: "Lora", serif;
    margin-bottom: 10px;
}
.listing-seller{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.listing-description {
    font-family: "Anek Devanagari";
    font-size: 18px;
    padding: 30px 0px;
}


/* Bid and Price */
.listing-bid-container {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

.listing-price,
.listing-bid {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.listing-bid-text, 
.listing-price-text {
    font-weight: bold;

}

.listing-price-text {
    margin-right: 20px;
}

.listing-bid-text{
    margin-right: 24px;
}

.price-bid-container {
    margin-top: 30px;
    margin-bottom: 30px;
}



/* Hide the up and down arrows for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* CSS for Bid Input and Button */
.bid-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.bid-input {
    margin-bottom: 10px;
}

.bid-button {
    margin-top: auto; /* Push the button to the bottom */
}

.form-control {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    width: 100% !important;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.btn-secondary {
    padding: 10px 20px;
    background-color: #424a4e; /* Grayish color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-secondary:hover {
    background-color: #131414; /* Darker gray on hover */
}

