body {
    padding: 50px 200px;
}

/* Card */
.card-body a.card-title,
.card-body .listing-price {
    text-decoration: none !important;
}

.card {
    transition: box-shadow 0.3s ease-in-out; /* Add transition effect */
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.card-img-top {
    padding-top: 10px; /* Adjust the value as needed */
}

.card-body {
    color: #707070 !important;

}


.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-title {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form-control {
    width: 500px;
}





/* NavBar */
.title {
    color: rgb(16, 16, 16);
    font-family: "Lora", serif;
    font-weight: 400;
}

.nav-link {
    color: #707070 !important;
    font-size: 15px !important;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav-link:hover {
    color: #000 !important; 
    font-weight: bold;
}

.nav-username strong {
    font-weight: bold;
}

.nav-item:nth-last-child(2) .nav-link {
    font-weight: normal !important;
    color: #707070 !important;
}














/* .nav-link {
    color: #707070 !important;
    font-size: 15px !important;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-username strong {
    font-weight: bold;
}

.nav-item:nth-last-child(2) .nav-link {
    font-weight: normal !important;
} */


.dropdown-item {
    color: #707070 !important;
    font-size: 15px !important;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


/* Listing */
.listing-container {
    display: flex;
    align-items: flex-start; /* Align children at the top */
}

.listing-info {
    margin-right: 100px; 
    align-self: flex-start; /* Align info div with the top of the container */
}

.listing-container{
    padding-top: 50px;
}

.image-detail {
    margin-right: 125px;
    margin-left: 125px;
    margin-bottom: 50px;
}

.listing-title {
    font-family: "Lora", serif;
    margin-bottom: 10px;
}
.listing-seller{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.listing-description {
    font-family: "Anek Devanagari";
    font-size: 18px;
}

.listing-price,
.listing-bid {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.listing-bid-text, 
.listing-price-text {
    font-weight: bold;
}

.listing-price-text {
    margin-right: 20px;
}

.listing-bid-text{
    margin-right: 24px;
}


