body {
    padding: 30px;
}

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-title {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form-control {
    width: 500px;
}

/* NavBar */
.title {
    color: rgb(16, 16, 16);
    font-family: "Lora", serif;
    font-weight: 400;
}

.nav-link {
    color: #707070 !important;
    font-size: 18px !important;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
}

.nav-link:hover {
    color: #000 !important; /* Change color on hover */
    font-weight: bold;
}

.dropdown-item {
    color: #707070 !important;
    font-size: 18px !important;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/* .nav {
    color: #707070 !important;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

.nav-link:hover {
    color: #000;
} */


/* Listing */
.listing {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.listing-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.listing-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.listing-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.listing-owner {
    font-style: italic;
    color: #666;
    margin-bottom: 5px;
}

.listing-price {
    font-size: 20px;
    color: #009688; /* or any other color you prefer */
    margin-top: 10px;
}

/* Alert */

/* Comments */
